{% extends "base.html" %}
{% block content %}


  <div class="container">

    <div class="col-md-12">
    <h1 class="formPageTitle">Book Appointment</h1>
    </div>
    <!-- First Name - Last Name - Email - Address-->
<form action="https://send.pageclip.co/xkeoJuB7wjJJnKtzcUorLzitUtChjAjN" className="pageclip-form" method="post" style="padding-top: 65px;padding-bottom: 75px">
  <div class="col-md-6">
    <label for="inputFirstName" class="form-label">First name</label> 
    <input type="text" name="first" class="form-control" id="inputFirstName"  placeholder="First Name" style="color:#000000; border:1.5px solid #000000;" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-6">
    <label for="inputLastName" class="form-label">Last name</label>
    <input type="text" name="last" class="form-control" id="inputLastName"  placeholder="Last Name" style="color:#000000; border:1.5px solid #000000;" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-6">
    <label for="inputPhoneNumber" class="form-label">Phone number</label>
    <input type="text" name="phone" class="form-control" id="inputLastName"  placeholder="###-###-####" style="color:#000000; border:1.5px solid #000000;" required>
    <div class="valid-feedback">
      Looks good!
    </div>
  </div>
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" name="email" class="form-control" id="inputEmail4" placeholder="Abc123@gmail.com" style="color:#000000; border:1.5px solid #000000;" required>
  </div>
  <br>
<div class="col-12">
  <div class="col-md-4">
    <label for="inputEvent" class="form-label">Upcoming Event</label>
    <select id="inputEvent" name="event" class="form-select" style="color:#000000; border:1.5px solid #000000;" >
      <option selected>Choose...</option>
      <option>Embassy Ball</option>
    </select>
  </div>
</div>
  <br>
<div class="col-12">
  <div class="col-md-4">
    <label for="inputCategory" class="form-label">Dance Category</label>
    <select id="inputCategory" name="danceCategory" class="form-select" style="color:#000000; border:1.5px solid #000000;" >
      <option selected>Choose...</option>
      <option>Junior</option>
      <option>Youth</option>
      <option>Amateur</option>
      <option>Pro AM</option>
      <option>Professional</option>
      <option>Senior</option>
      <option>Other</option>
    </select>
  </div>
</div>
  <br>
<div class="col-12">
  <div class="col-md-4">
    <label for="inputStyle" class="form-label">Style</label>
    <select id="inputStyle" name ="styleCategory" class="form-select" style="color:#000000; border:1.5px solid #000000;" >
      <option selected>Choose...</option>
      <option>Ballroom</option>
      <option>Latin</option>
      <option>Smooth</option>
      <option>Rhythm</option>
      <option>Showdance</option>
      <option>Exhibition</option>
      <option>Showdance/Theatre Arts</option>
      <option>Other</option>
    </select>
  </div>
</div>
  <br>
  <div class="col-md-4">
    <label for="inputStyle" class="form-label">Level</label>
    <select id="inputStyle" name="level" class="form-select" style="color:#000000; border:1.5px solid #000000;" >
      <option selected>Choose...</option>
      <option>Newcomer</option>
      <option>Bronze</option>
      <option>Silver</option>
      <option>Gold</option>
      <option>Open</option>
    </select>
  </div>

  <br>

  <h5 class="form-label">Choose Appointment Types</h5>

  <div class="form-check">
    <input type="checkbox" name = "Hair" class="form-check-input" id="same-address">
    <label class="form-check-label" for="Hair">Hair</label>
  </div>

  <div class="form-check">
    <input type="checkbox" name="Makeup" class="form-check-input" id="save-info">
    <label class="form-check-label" for="Makeup">Makeup</label>
  </div>

  <br>

  <div class="col-12">
    <button class= "btn btn-outline-dark btn-lg button pageclip-form__submit" type="submit" value= "Submit Form" style="border:3px solid #000000;">Submit form</button>
  </div>
 </form>

</div>



{% endblock %}