{% extends "base.html" %}
{% block content %}


<div class="container">

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
    <img src="https://raw.githubusercontent.com/Bandelero/DRESSCODE/main/static/shutterstock_513413053.png" alt="RedLipstick" class="girl_RedLipstick" style="width:35%">
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <h1 id="frontPageTitle">Jenya Hair & Makeup</h1>
    </div>
    <div class="col-md-2"> 
    </div>
  </div>
    <!-- Submit Button -->
    <div class="d-grid gap-2 col-6 mx-auto" style="padding-top: 25px;padding-bottom: 75px">
        <a href="{{ url_for('form')}}" class= "btn btn-outline-dark btn-lg" style="border:5px solid #000000;">Book Appointment
        </a>
   </div>

</div>



{% endblock %}










