{% extends "base.html" %}
{% block content %}

<!-- Removed collapse from div below and data-bs-toggle="collapse" from the button on line 46-->
<!-- This was upon request to display the about and contact me in the header from the start of opening the browser-->

  <!-- The white Navbar is below -->
      <div class="navbar navbar-light bg-light shadow-sm">
            <div class="container">
              <a href="{{ url_for('index')}}" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="9" cy="13" r="4"/></svg>
                <strong>Jenya Hair and Makeup</strong>
              </a>

                    <div class="dropdown">
                        <button class="navbar-toggler" type="button" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                            <div class="dropdown-content">
                              <a href="{{ url_for('about')}}" class="buttonText">About Us</a>
                              <a href="{{ url_for('gallery')}}" class="buttonText">Gallery</a>
                              <a href="{{ url_for('services')}}" class="buttonText">Services</a>
                              <a href="{{ url_for('events')}}" class="buttonText">Events</a>
                              <a href="{{ url_for('form')}}" class="buttonText">Book Appointment</a>
                            </div>
                    </div>
            </div>
        </div>




<div class="container">

  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
    <img src="https://raw.githubusercontent.com/Bandelero/DRESSCODE/main/static/shutterstock_513413053.png" alt="RedLipstick" class="girl_RedLipstick" style="width:35%">
    </div>
    <div class="col-md-1">
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      <h1 id="frontPageTitle">Jenya Hair & Makeup</h1>
    </div>
    <div class="col-md-2">
    </div>
  </div>
    <!-- Submit Button -->
    <div class="d-grid gap-2 col-6 mx-auto" style="padding-top: 25px;padding-bottom: 75px">
        <a href="{{ url_for('form')}}" class= "btn btn-outline-dark btn-lg" style="border:5px solid #000000;">Book Appointment
        </a>
   </div>

</div>




  <!-- Footer -->

<!--   <div class="bg-dark" id="navbarFooter">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Jenya hair and makeup is a mobile beauty boutique specializing in ballroom, wedding and special events hair and makeup. Our goal is to provide you with an exceptional service and to make you look and feel your best on the dance floor and your special day. We will help you create an image that reflects your personality.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact Us</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Email me</a></li>
            <li><a href="https://www.instagram.com/jenya_hairandmakeup/" class="text-white">Like on Instagram</a></li>
            <li><a href="#" class="text-white">Link on Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>  -->


{% endblock %}










